.formPratos{
    display: flex;
    width: 95vw;
    height: 77vh;
    margin-left: 6rem;
    overflow-y: hidden;
}

.form{
    display: flex;
    width: 67.5vw;
    height: 72vh;
    padding: 1rem;
}

.cabecalho{
    width: 100%;
    display: flex;
    align-items: end;
    gap: 20px;
}


.card{
    width: 23%;
    height: 63%;
    border-radius: 2%;
    background-color: #37455D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgCard{
    display: flex;
    height: 60%;
    width: 100%;
    border-radius: 2%;
}

.imgCard img{
    width: 100%;
    height: 100%;
}

.infoCard{
    height: 40%;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.infoCard span{
    color: white;
}

.infoCard button{
    font-size: 1.1rem;
    align-self: center;
    margin-top: 0.5rem;
    width: 7rem;
    font-weight: lighter;
    background-color: #E59E53;
    color: black;
}

.infoCard button:hover{
    background-color: #a77940;
}

.saidaPratos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 23vw;
    height: 100%;
    color: white;
}

.saida{
    width: 90%;
    height: 85%;
    background-color: #37455D;
}

.tituloSaida{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8%;
}

.tituloSaida button{
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
    background-color: #E59E53;
    color: #37455D;
}

.corpoSaida{
    display: flex;
    flex-direction: column;
    height: 92%;
    border-top: #E59E53 3px solid;
}

.botoes{
    display: flex;
    gap: 2rem;
}

#buttonSaida{
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #E59E53;
    width: 50%;
    height: 3rem;
    color: black;
}

#buttonRelatorio{
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #E59E53;
    width: 8rem;
    height: 3rem;
    color: black;
}

#buttonSaida:hover{
    background-color: #a77940;
}

.cardSaida{
    width: 90%;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    font-size: 1.2rem;
}

.cardSaida img{
    width: 1rem;
    cursor: pointer;
}

.quantPrato{
    width: 3rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.3rem;
}
