.formPratos{
    display: flex;
    width: 95vw;
    height: 77vh;
    margin-left: 6rem;
    overflow-y: hidden;
}

.form{
    display: flex;
    width: 67.5vw;
    height: 72vh;
    padding: 1rem;
    overflow-y: auto;
    flex-wrap:wrap;

    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.cabecalho{
    width: 100%;
    display: flex;
    align-items: end;
    gap: 20px;
    margin-bottom: 2vh;
}

.card{
    padding: 0.5rem;
    width: 13vw;
    height: fit-content;
    border-radius: 5px;
    background-color: #37455D;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.5);
}

.nome{
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #E59E53;
    color: white;
}
.dados{
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: white;
}

.titulo{
    font-size: 3vh;
}

.card button{
    font-size: 1.1rem;
    align-self: center;
    margin-top: 0.5rem;
    width: 100%;
    height: 4vh;
    font-weight: lighter;
    background-color: #E59E53;
    color: black;
}

.card button:hover{
    background-color: #a77940;
}

.saidaPratos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 23vw;
    height: 100%;
    color: white;
}

.saida{
    padding: 0.3rem;
    width: 90%;
    height: 85%;
    background-color: #37455D;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.tituloSaida{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8%;
    border-bottom: #E59E53 1px solid;

}

.tituloSaida span{
    font-size: 1.1rem;
}

.tituloSaida button{
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
    background-color: #E59E53;
    color: #37455D;
}

.corpoSaida{
    display: flex;
    flex-direction: column;
    height: 85%;
    overflow-y: scroll;
    width: 100%;
}

.botoes1{
    border-top: 1px solid #E59E53;
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botoes1 button{
    background-color: #E59E53;
    width: 6vw;
    height: 4vh;
    border-radius: 4px;
}

#buttonSaida{
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #E59E53;
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    color: black;
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.5); 
}

#buttonRelatorio{
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #E59E53;
    width: 8rem;
    height: 3rem;
    color: black;
}

#buttonSaida:hover{
    background-color: #a77940;
}

.cardSaida{
    border-bottom: #B0D2D3 1px solid;
    
    width: 99%;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.1rem;
    height: 2.5rem;
}

.cardSaida .texto{
margin-left: 1vw;
 width: 89%;
}

.cardSaida img{
    width: 1vw;
    cursor: pointer;
}

.quantPrato{
    width: 3rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.3rem;
}


/* children */

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 35vw;
    background-color: #E2F7F8;
    box-shadow: 4px 4px 13px #2b2b2b;
    border: 1px solid #37455D;
}

.tituloModal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: #37455D;
}

.tituloModal span{
    color: white;
    font-size: 1.3rem;
}

.data{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.5rem;
}
.data input{
    width: 40%;
    border-radius: 0%;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px #2b2b2b69;
}

.titulos{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

#titulo{
    font-size: 1.6rem;
}

.tituloModal img{
    cursor: pointer;
    z-index: 1001;
    height: 1.2rem;
}

.corpoModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 60%;
    background-color: #37455D;
    color: white;
    overflow-y: auto;
}

.tituloSaida{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;
    border-bottom: #E59E53 3px solid;
}

.cardSaida1{
    width: 100%;
    margin-top: 0.5rem;
    height: 2rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-around;
    display: flex;  
}

.buttonModal {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 1rem;

}
.buttonModal button{
    height: 3rem;
    width: 6rem;
    font-size: 1.2rem;
    box-shadow: 4px 3px 5px #2b2b2b5b;
}

#finalizar{
    color: white;
    background-color: #53915D;
}

#finalizar:hover{
    background-color: #3d6844;
}

#cancelar{
    background-color: #C15353;
    color: white;
}


#cancelar:hover{
    background-color: #913e3e;
}