.formPratos{
    display: flex;
    width: 95vw;
    height: 77vh;
    margin-left: 6rem;
    overflow-y: hidden;
}

.form{
    display: flex;
    width: 67.5vw;
    height: 71vh;
    padding: 1rem;
    overflow-y: auto;
    flex-wrap:wrap;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.cabecalho{
    width: 100%;
    display: flex;
    align-items: end;
    gap: 20px;
}


.card{
    width: 23%;
    height: 63%;
    border-radius: 2%;
    background-color: #37455D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}


.infoCard{
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid white;
    flex-wrap: wrap;
}

.infoCard span{
    color: white;
    font-size: 1.1rem;
    margin-left: 0.5rem;
    
}

.infoCard button{
    font-size: 1.1rem;
    align-self: center;
    margin-top: 0.5rem;
    width: 7rem;
    font-weight: lighter;
    background-color: #E59E53;
    color: black;
}

.infoCard button:hover{
    background-color: #a77940;
}

.saidaPratos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 23vw;
    height: 100%;
    color: white;
}

.saida{
    width: 90%;
    height: 85%;
    background-color: #37455D;
}

.tituloSaida{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8%;
}

.tituloSaida span{
    font-size: 1.1rem;
}

.tituloSaida button{
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
    background-color: #E59E53;
    color: #37455D;
}

.corpoSaida{
    display: flex;
    flex-direction: column;
    height: 92%;
    border-top: #E59E53 1px solid;
    overflow-y: scroll;
}

.botoes{
    display: flex;
    gap: 2rem;
}

#buttonSaida{
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #E59E53;
    width: 10rem;
    height: 3rem;
    color: black;
}

#buttonRelatorio{
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #E59E53;
    width: 8rem;
    height: 3rem;
    color: black;
}

#buttonSaida:hover{
    background-color: #a77940;
}

.cardSaida{
    width: 90%;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    font-size: 1.2rem;
}

.cardSaida img{
    width: 1rem;
    cursor: pointer;
}

.quantPrato{
    width: 3rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.3rem;
}


/* children */

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 35vw;
    background-color: #E2F7F8;
    box-shadow: 4px 4px 13px #2b2b2b;
    border: 1px solid #37455D;
}

.tituloModal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: #37455D;
}

.tituloModal span{
    color: white;
    font-size: 1.3rem;
}

.data{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.5rem;
}
.data input{
    width: 40%;
    border-radius: 0%;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px #2b2b2b69;
}

.titulos{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

#titulo{
    font-size: 1.6rem;
}

.tituloModal img{
    cursor: pointer;
    z-index: 1001;
    height: 1.2rem;
}

.corpoModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 60%;
    background-color: #37455D;
    color: white;
    overflow-y: auto;
}

.tituloSaida{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;
    border-bottom: #E59E53 3px solid;
}

.cardSaida{
    width: 100%;
    margin-top: 0.5rem;
    height: 2rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-around;
    display: flex;  
}

.buttonModal {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 1rem;

}
.buttonModal button{
    height: 3rem;
    width: 6rem;
    font-size: 1.2rem;
    box-shadow: 4px 3px 5px #2b2b2b5b;
}

#finalizar{
    color: white;
    background-color: #53915D;
}

#finalizar:hover{
    background-color: #3d6844;
}

#cancelar{
    background-color: #C15353;
    color: white;
}


#cancelar:hover{
    background-color: #913e3e;
}