.form{
    width: 70vw;
    height: 75vh;
    margin-left: 100px;
    padding: 1rem;
    position: fixed;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
    gap: 1rem;
}

.titulo{
    font-size: 3vh;
}

.cabecalho{
    width: 100%;
    display: flex;
    align-items: end;
}

.cabecalho button{
    background-color: #E59E53;
    border-radius: 0%;
    width: 10rem;
    height: 4.5rem;
    color: black;
    font-size: 1.3rem;
    margin-bottom: -2rem;
    font-weight: lighter;
    margin-right: 1rem;
}

.cabecalho button:hover{
    background-color: #a77940;
}

.card{
    padding: 1rem;
    width: 15vw;
    height: fit-content;
    border-radius: 2px;
    background-color: #37455D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgCard{
    display: flex;
    height: 10%;
    width: 100%;
    border-radius: 2%;
}

.imgCard img{
    width: 100%;
    height: 100%;
}

.nome{
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #E59E53;
    color: white;
}

.dados{
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: white;
}

.card button{
    font-size: 1.1rem;
    align-self: center;
    margin-top: 0.5rem;
    width: 7rem;
    font-weight: lighter;
    background-color: #E59E53;
    color: black;
}

.infoCard button:hover{
    background-color: #a77940;
}

/* children */

.corpoVizualizar{
    display: flex;
    flex-direction: column;
}

.corpoModal{
    display: flex;
    width: 45vw;
    height: 21rem;
}

.descricaoModal{
    width: 40%;
    height: 100%;
    background-color: #B0D2D3;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imgDescricao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.imgDescricao img{
    width: 75%;
}

.textDescricao{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    width: 80%;
    height: 45%;
    justify-content: center;
    gap: 1rem;
}

.ingredientesModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
}

.ingredientesModal h2{
    font-weight: lighter;
}

.ingredientes{
    width: 90%;
    height: 70%;
    border: 0.5px solid #B0D2D3;
    padding: 1rem;
    overflow: scroll;
}

.buttonModal{
    display: flex;
    width: 100%;
    height: 4.5rem;
    border-top: black 2px solid;
    align-items: center;
    justify-content: space-around;
}

.buttonModal button{
    height: 3.5rem;
    width: 8rem;
    font-size: 1.4rem;
}

#editar{
    background-color: #E59E53;
}

#editar:hover{
    background-color: #a77940;
}

#excluir{
    color: white;
    background-color: #ED5656;
}

#excluir:hover{
    background-color: #af4040;
}