.empresa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



.formEmpresa span{
    font-size: 30px;
}

.editar{
    background-color: #37455D;
    color: white;
    border: none;
}

.formEmpresa button{
    width: 70px;
    height: 30px;
    letter-spacing: 2px;
    background-color: #E59E53;
    
}

.excluir{
    background-color: red;
    color: white;
    border: none;
}
