@font-face {
    font-family: "Jost";
    src: url("../utils/fonts/Jost-Regular.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    font-family: "Jost"; 
    overflow-x: hidden;
}

input{
    font-family: "Jost";
}

select{
    font-family: "Jost";
    border-radius: 5px;
    cursor: pointer;
}

button{
    font-family: "Jost";
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #a77940;
}

::placeholder{
    font-family: "Jost";
}

::-webkit-scrollbar {
    width: 0.5rem; 
}

::-webkit-scrollbar-thumb {
    background-color: #E59E53;
    border-radius: 2px;
}




::-webkit-scrollbar-button {
    display: none;
}