.select-ingredientes-container {
    position: relative;
    width: 30vw; /* Ajuste conforme necessário */

}

.select-ingredientes-input {
    width: 10vw;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.suggestions-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2vh;
    right: 1.2vw;
    width: 29vw;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    max-height: 150px; /* Ajuste conforme necessário */
    overflow-y: auto;
    overflow-x:hidden ;
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    width: 100%;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
