
*{
    transition: width 0.3s ease;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5vw;
    position: fixed ;
    z-index: 999;
    background-color: #37455D;
    box-shadow: 0px 0px 5px ;
    cursor: pointer;
}

.sidebar .icons{
    margin-top: 0.5vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}



.sidebar .imgLogo{
    align-self: center;
    display: flex;
    width: 3.5vw;
    padding: 0.2rem;
    justify-content: center;
    border-bottom: 1px solid white;
}
 


 .imgHome{    
    display: flex;
    width: 2.5vw;
}

.imgBorder{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 5vw;
    flex: 1;
}

.imgBorderSelected{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 12vh;
    width: 5vw;
    background-color: white;
}

.expanded{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15vw;
    position: fixed ;
    z-index: 999;
    background-color: #37455D;
    box-shadow: 0px 0px 5px ;
    
}



.expanded .icons{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.expanded .dados{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0.5rem;
}

.expanded .nomeEmpresa{
    background-color: #E59E53;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    margin-bottom: 1vh;
    width: 12vw;
}


.empresa{
    display: flex;
    justify-content: space-between;
}


.expanded .dados img{
    width: 1vw;
    align-self: flex-start;
}

.expanded .nomeUsuario{
    display: flex;
    flex-direction: column;
    font-size: 1.4vw;
}
.expanded .nomeCargo{
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    border-bottom: 1px white solid;
}


.expanded .imgHome{
    width: 2.5vw;
    margin-left: 1vw;
}

.expanded .imgLogo{
    display: none;
}


.expanded .imgBorderSelected{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    height: 13vh;
    width: 15vw;
    background-color: white;
    border-radius: 4px;

    
}

.expanded .imgBorder{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 14vh;
    width: 15vw;
    color: white;
}

.expanded .imgBorder:hover{
    background-color: #181f2a;
}


.expanded .iconText{
    font-size: 3vh;
    margin-left: 1vw;
}

.expanded .botao{
    height: 5vh;
    width: 7vw;
    background-color: #E59E53;
}

