
*{
    transition: width 0.3s ease;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5vw;
    position: fixed ;
    z-index: 999;
    background-color: #37455D;
    box-shadow: 0px 0px 5px ;
    cursor: pointer;
}

.sidebar .icons{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
}

.sidebar .imgLogo{
    align-self: flex-start;
    display: flex;
    width: 4.5vw;
    justify-content: center;
}

 .imgHome{    
    display: flex;
    width: 2.5vw;
}

.imgBorder{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 5vw;
}

.imgBorderSelected{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 10vh;
    width: 15vw;
    background-color: white;
}

.expanded{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15vw;
    position: fixed ;
    z-index: 999;
    background-color: #37455D;
    box-shadow: 0px 0px 5px ;
}

.expanded .icons{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    justify-content: space-evenly;
}

.expanded .imgHome{    
    padding-right: 4rem;
    display: flex;
    width: 2.5vw;
}

.expanded .imgLogo{
    align-self: flex-start;
    display: flex;
    width: 4.5vw;
    justify-content: center;
}

.expanded .imgBorderSelected{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 10vh;
    width: 15vw;
    background-color: white;
}

.expanded .imgBorder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    width: 15vw;
    color: white;
}

.expanded .iconText{
    font-size: 3vh;
}

.expanded .botao{
    height: 10vh;
}
