.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    height: 2.5rem;
    margin-top: 2vh;
    justify-content: space-between;
    background-color:#37455D ;
}

.card span{
    color: white;
    font-size: 1.2rem;
    margin-left: 1vw;
}

.card img{
    cursor: pointer;
}