.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    height: 2.5rem;
    justify-content: space-between;
    background-color:#37455D ;
}

.card span{
    color: white;
    font-size: 1.2rem;
    margin-left: 1vw;
    width: 90%;
}

.card img{
    display: flex;
    cursor: pointer;
    margin-right: 1vw;
}