.body{
    height: 100vh;
    width: 100vw;
}

.form{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 81.3%;
    margin-left: 7%;
    overflow-y: hidden;
}

.cabecalho{
    width: 100%;
    display: flex;
    margin-bottom: 2vh;
}


/* table */

.tabelaForm {
    display: flex;
    flex-direction: column; 
    width: 75%;
    height: 72vh;
    overflow-y: auto; 
    border-radius: 8px;
}


.tabelaForm table {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border-collapse: collapse;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);}


.tabelaForm thead tr {
    background-color: #E59E53;
    text-align: left;
    font-size: 1.5vw;
    color: white; 
}

.tabelaForm th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd; 
    color: black;
}


.tabelaForm td {
    padding: 12px;
    text-align: left;
}

/* Estilo das linhas do corpo da tabela */
.tabelaForm tbody tr {
    border-bottom: 1px solid #dddddd;
    font-size: 1.3vw;
    background-color: #37455D;
    color: white;
}

/* Estilo para as linhas pares */
.tabelaForm tbody tr:nth-of-type(even) {
    background-color: #4b5d7d;
}

.tabelaForm tbody tr:last-of-type {
    border-bottom: 2px solid #E59E53;
}

.tabelaForm tbody tr:hover {
    cursor: pointer;
    background-color: #53698b; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o ícone de fechar */
#imgfechar {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* children */

.tituloModal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
    background-color: #B0D2D3;
    box-shadow: 2px 3px 3px #0000002f;
}

.tituloIngrediente span{
    color: #37455D;
    font-size: 1.3rem;
}

.tituloIngrediente{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

#titulo{
    font-size: 1.6rem;
}

.tituloModal img{
    cursor: pointer;
    z-index: 1001;
    height: 1.2rem;
}

.tituloModal img:hover{
    background-color: #37455D;
}

.corpoModal{
    display: flex;
    width: 100%;
    height: 87%; 
}

.legendaModal{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #37455D;
}

.legendasIngred{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.1rem;
    justify-content: space-evenly;
}


.dadosModal{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.dadosIngred{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: space-evenly;
}

/* modal 2 */

.tituloModalManipulado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
    background-color: #37455D;
    box-shadow: 2px 3px 3px #0000002f;
}

.tituloModalManipulado img{
    cursor: pointer;
    z-index: 1001;
    height: 1.2rem;
}

.tituloIngrediente2 span{
    color: white;
    font-size: 1.3rem;
}

.tituloIngrediente2{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

#titulo2{
    font-size: 1.6rem;
}

.tituloModal2 img{
    cursor: pointer;
    z-index: 1001;
    height: 1.2rem;
}   

.corpoModal2{
    display: flex;
    width: 100%;
    height: 87%; 
}

.legendaModal2{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #B0D2D3;
}

.legendasIngred2{
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: space-evenly;
}


.dadosModal2{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.dadosIngred2{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: space-evenly;
}

.ingredientesModal{
    display: flex;
    align-self: center;
    height: 31%;
    width: 98%;
    border: 1px solid #8ea7a8;
}


/* filtro */

.filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    color: white;
}

.cards{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filtro span{
    font-size: 1.5rem;
    font-weight: normal;
    color: black;

}
.filtroCard{
    display: flex;
    background-color: #37455D;
    width: 12rem;
    height: 5rem;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
}

.filtroCard span{
    font-size: 1.2rem;
    color: white;
}

.filtroCard img{
    width: 2.5rem;
}

.infoCard{
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
}

.infoCard span{
    font-size: 1.4rem;
}

.filtroCard:hover{
    cursor: pointer;
    background-color: #4b5d7d;
}

#imgCard{
    width: 3.5rem;
}