
.tabela{
    width: 900px;
    height: 450px;
    margin-left: 100px;
    display: flex;
}

.tabelaForm{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: baseline;
    width: 65.9vw;
}

.tabelaForm span{
    font-size: 1.5rem;
}

.filtrosForm{
    width: 20.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtrosForm h1{
    font-size: 1.5rem;
    font-weight: lighter;
}

.filtros{
    height: 30rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.card{
    width: 65%;
    height: 5.5rem;
    background-color: #37455D;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
    box-shadow: 1px 2px 7px #000000;
}

.card span{
    font-size: 1.2rem;
}

.legenda{
    display: flex;
    width: 90%;
    height: 3.5rem;
    align-items: center;
    justify-content: space-around;
    
}


.legenda img{
    height: 2.4rem;
}



.tituloForm span{
    font-size: 20px;
}

.cabecalho{
    width: 100%;
    display: flex;
    align-items: end;
    gap: 20px;
}


