
.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  width: 18vw;
  height: 276px;
  background-color: white;
  border: solid 3px #37455d;
  margin: 0 auto;
  border-radius: 3px;
}
.data-aviso {
  position: relative;
  width: 150px;
  height: 67px;
  margin: 76px 0 0 44px;
  font-family: Jost, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 36.125px;
  text-align: center;
  z-index: 4;
}
.data-aviso-1 {
  position: relative;
  color: #37455d;
  font-family: Jost, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.125px;
  text-align: center;
}
.aviso {
  position: relative;
  color: #000000;
  font-family: Jost, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 36.125px;
  text-align: center;
}
.quantidade-kg {
  position: relative;
  width: 100px;
  height: 67px;
  margin: 4px 0 0 69px;
  font-family: Jost, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 36.125px;
  text-align: center;
  z-index: 3;
}
.text-3 {
  position: relative;
  color: #37455d;
  font-family: Jost, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.125px;
  text-align: center;
}
.text-4 {
  position: relative;
  color: #000000;
  font-family: Jost, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 36.125px;
  text-align: center;
}
.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 5px;
  position: relative;
  width: 178px;
  height: 45px;
  margin: 12px 0 0 31px;
  padding: 20px 50px 20px 50px;
  cursor: pointer;
  background: #e59e53;
  border: none;
  z-index: 5;
  border-radius: 2px;
}
.text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 93px;
  height: 36px;
  color: #37455d;
  font-family: Jost, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}
.section-2 {
  position: absolute;
  width: 240px;
  height: 279px;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 3px solid #37455d;
  border-radius: 2px;
  box-sizing: content-box;
}
.rectangle {
  position: absolute;
  width: 240px;
  height: 70px;
  top: 0;
  left: 0;
  background: #37455d;
  z-index: 1;
}
.molho-de-tomate {
  position: absolute;
  width: 179px;
  height: 64px;
  top: 0;
  left: 30px;
  font-family: Jost, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 43.35px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 2;
}
.molho-de-tomate-2 {
  position: relative;
  color: #ffffff;
  font-family: Jost, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 43.35px;
  text-align: center;
}
.categoria-molhos {
  position: relative;
  color: #ffffff;
  font-family: Jost, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 43.35px;
  text-align: center;
}
