.imgConfig {
    top: 0;
    left: 89vw;
    height: 8vh;
    width: 12vw;
    z-index: 998;
    display: flex;
    max-height: 12vh;
    min-height: 6vh;
    align-items: center;
    position: fixed;
    justify-content: end;
}

.imgConfig img{
    height: 23px;
    margin-right: 20px;
    cursor: pointer;
}

/* toast */

#excluirSim{
    color: white;
    background-color: green;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

#excluirNao{
    color: white;
    background-color: #ED5656;
    margin-top: 0.5rem;
}