.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tituloForm{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
   
}

.tituloForm span{
    font-size: 20px;
    
}

.cabecalho{
    width:100% ;
    gap: 1rem;
}


.cabecalho .botaoCadastro{
    background-color: #E59E53;
    border-radius:2px;
    width: 13vw;
    height: 65px;
    color: black;
    font-size: 19px;
    font-weight: lighter;
    position: fixed;
    left: 83vw;
    top: 4rem;


}

.cabecalho button:hover{
    background-color: #a77940;
}   

.area{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
}
.card{
    display: flex;
    margin-left: 5vw;
    overflow-y: auto;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    padding:1vw;
    width: 90%;
    height: 73vh;
    row-gap: 1rem;
    gap: 0.5vw;
    border-radius: 2px;
    box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.5);
}

/* children card */

/* .main-container {
    overflow: hidden;
  } */
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea {
    outline: 0;
  }
  
  .main-container {
    width: 15rem;
    height: 19rem;
    background-color: white;
    border: solid 3px #37455d;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
  
  }
  
  .dados{
    width: 100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dados span{
    height: 0.5rem;
  }
  
  .dados select{
    width: 90%;
    border-radius: 0%;
    height: 2rem;
    border: 1px solid black;
    font-size: 1.1rem;
  }
  
  .titulo {
    color: #37455d;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    height: 0.5rem;

  }
  .aviso {
    color: #000000;
    font-family: Jost, var(--default-font-family);
    font-size: 1.3rem;
    text-align: center;
  }

  .dados button{
    height: 2.5rem;
    width: 8rem;
    font-size: 1.3rem;
    color: #000000;
    background-color: #E59E53;
    border-radius: 0%;
  }

  .dados button:hover{
    background-color: #a77940;
  }
  
  
  .rectangle {
    width:100%;
    height: 28%;
    background: #37455d;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .molho-de-tomate-2 {
    color: #ffffff;
    font-family: Jost, var(--default-font-family);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
  }

  .categoria-molhos {
    color: #ffffff;
    font-family: Jost, var(--default-font-family);
    font-size: 1.1rem;
  }
  


/* children Cadastro */
.tituloModal2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border-radius: 8px;
    background-color: #B0D2D3;
    box-shadow: 2px 3px 3px #0000002f;
}

.tituloIngrediente2 span{
    color: #37455D;
    font-size: 1.3rem;
}

.tituloModal2 img{
    cursor: pointer;
    z-index: 1001;
    height: 1.2rem;
}



.tituloIngrediente2{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

.corpoItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
}

.cadastroItens{
    display: flex;
    width: 100%;
    height: 25rem;
    align-items: center;
}

.legendaItem{
    display: flex;
    width: 40%;
    height: 85%;
    justify-content: center;
}

.legenda{
    display: flex;
    width: 100%;
    height: 2rem;   
}

.datas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.data{
    font-size: 3vh;
    display: flex;
    flex-direction: row;
}

.data input{
    margin-right: 0.5vw;
    box-shadow: 4px 2px 8px #6d6b6b;
    border-radius: 3px;
}

#obrigatorio{
    color: red;
}


.itens{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    width: 90%;
    height: 100%;
    justify-content: space-around;
}

.dadosItem{
    display: flex;
    width: 60%;
    height: 85%;
}

.dados{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.dados input{
    height: 1.8rem;
    width: 90%;
    border-radius: 0%;
    border: 1px solid black;
    font-size: 1.1rem;
    box-shadow: 4px 2px 8px #6d6b6b;
    border-radius: 3px;
}

.botaoItem{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botaoItem button{
    height: 3rem;
    width: 10rem;
    border-radius: 0%;
    font-size: 1.5rem;
    color: black;
    background-color: #E59E53;
}



/* children */

.tituloModal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
    background-color: #B0D2D3;
    box-shadow: 2px 3px 3px #0000002f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px ;
}

.tituloIngrediente span{
    color: #37455D;
    font-size: 1.3rem;
}

.tituloIngrediente{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

#titulo{
    font-size: 1.6rem;
}

.tituloModal img{
    cursor: pointer;
    z-index: 1001;
    height: 1.2rem;
}


.corpoModal{
    display: flex;
    width: 100%;
    height: 75%; 
}

.legendaModal{
    display: flex;
    justify-content: center;
    width: 46%;
    height: 100%;
    background-color: #37455D;
}

.legendasIngred{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.1rem;
    justify-content: space-around;
}


.dadosModal{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.dadosIngred{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: space-around;
    color: black;
}

.botoesModal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 9vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px  ;
    background-color: #37455d;
    }

.botoesModal button{
    width: 8rem;
    height: 3rem;
    border-radius: 0%;
    font-size: 1.4rem;
}

#editar{
    background-color: #E59E53;
}

#editar:hover{
    background-color: #a77940;
}

#excluir{
    color: white;
    background-color: #ED5656;
}

#excluir:hover{
    background-color: #af4040;
}
