body{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tituloForm{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
   
}

.tituloForm span{
    font-size: 20px;
    
}

.cabecalho{
    width:100% ;
    gap: 1rem;
}


.cabecalho button{
    background-color: #E59E53;
    border-radius:2px;
    width: 13vw;
    height: 65px;
    color: black;
    font-size: 19px;
    font-weight: lighter;
    position: fixed;
    left: 85vw;
    top: 4rem;


}

.cabecalho button:hover{
    background-color: #a77940;
}   

.area{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1rem;
}
.card{
    display: flex;
    margin-left: 5vw;
    overflow-y: auto;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding:1vw;
    width: 80%;
    height: 80vh;
    row-gap: 1rem;
    gap: 2px;
    border-radius: 2px;
    box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.5);
}


/* children */
.tituloModal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
    background-color: #B0D2D3;
    box-shadow: 2px 3px 3px #0000002f;
}

.tituloIngrediente span{
    color: #37455D;
    font-size: 1.3rem;
}

.tituloIngrediente{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

#titulo{
    font-size: 1.6rem;
}

.tituloModal img{
    cursor: pointer;
    z-index: 1001;
    height: 1.2rem;
}

.tituloModal img:hover{
    background-color: #37455D;
}

.corpoModal{
    display: flex;
    width: 100%;
    height: 87%; 
}

.legendaModal{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #37455D;
}

.legendasIngred{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.1rem;
    justify-content: space-evenly;
}


.dadosModal{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.dadosIngred{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: space-evenly;
    color: black;
}
