body{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tituloForm{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
   
}

.tituloForm span{
    font-size: 20px;
    
}

.cabecalho{
    width:100% ;
    gap: 1rem;
}


.cabecalho button{
    background-color: #E59E53;
    border-radius:2px;
    width: 13vw;
    height: 65px;
    color: black;
    font-size: 19px;
    font-weight: lighter;
    position: fixed;
    left: 85vw;
    top: 4rem;


}

.cabecalho button:hover{
    background-color: #a77940;
}   

.area{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1rem;
}
.card{
    display: flex;
    margin-left: 5vw;
    overflow-y: auto;
    flex-wrap:wrap;
    padding:1vw;
    width: 80%;
    height: 80vh;
    justify-content: center;
    row-gap: 1rem;
    border: 1px solid;
    border-radius: 2px;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
