.tabelaForn{
    background-color: #37455D;
    width: 72.5vw;
    display: flex;
}

.tabelaForn table{
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

.tabelaForn table:hover{
    background-color: #263041;
}

.tabelaForn tr {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
  
.tabelaForn td {
    display: flex;
    font-size: 1.4rem;
    color: white;
    font-weight: lighter;
    justify-content: center; /* Centraliza o conteúdo dentro das células */
    flex: 1; /* Faz com que todas as células tenham o mesmo tamanho */
    padding: 1rem; /* Espaçamento interno das células */
}