body{
    width: 100%;
    border: 0;
}

.form{
    width: 900px;
    height: 450px;
    margin-left: 100px;
}

.tituloForm{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.tituloForm span{
    font-size: 20px;
}

.cabecalho{
    width: 100%;
    display: flex;
    align-items: end;
    gap: 20px;
}

.cabecalho button{
    background-color: #E59E53;
    border-radius: 0%;
    width: 13vw;
    height: 65px;
    color: black;
    font-size: 19px;
    margin-bottom: -25px;
    font-weight: lighter;
}

.cabecalho button:hover{
    background-color: #a77940;
}   