nav{
    display: flex;
    background-color: #37455D;
    flex-direction: row;
    top: 0;
    left: 0;
    height: 9vh;
    width: 100vw;
    z-index: 999;
    max-height: 12vh;
    min-height: 6vh;
    align-items: center;
    position: sticky;
    overflow: hidden;
    color: white;
    justify-content: space-around;
}

nav img{
    height: 50px;
}

nav span{
    display: flex;
    
}

nav button{
    background-color: #E59E53;
}

.imgEmpresa{
    display: flex;
    align-items: center;
}
