nav {
    display: flex;
    background-color: #37455D;
    flex-direction: row;
    top: 0;
    left: 0;
    height: 9vh;
    width: 100vw;
    z-index: 999;
    max-height: 12vh;
    min-height: 6vh;
    position: sticky;
    overflow: hidden;
    color: white;
    align-items: center; /* Ensures items are centered vertically */
}



img {
    display: flex;
    align-items: flex-start;
}

nav button {
    width: fit-content;
    background-color: #E59E53;
}

.buttons {
    display: flex;
    margin-left: auto;     
    align-items: center;
    gap: 2rem;
    padding-right: 2rem; 
}
