.alergicos{
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 5rem;
}

.alergicos select{
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
}

.alergicos button{
    background-color: #E59E53;
    font-size: 1rem;
}

